* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #0b0b0b;
  color: white;
  overflow-x: hidden;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 18px 8%;
  background: rgba(0,0,0,0.85);
  backdrop-filter: blur(12px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.logo {
  font-size: 26px;
  font-weight: 700;
  color: #ff2c2c;
}

nav {
  display: flex;
  gap: 30px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

nav a:hover {
  color: #ff2c2c;
}

#darkModeBtn {
  background: #ff2c2c;
  color: white;
  border: none;
  padding: 10px 14px;
  border-radius: 10px;
  cursor: pointer;
}

.breaking-wrapper {
  margin-top: 80px;
  display: flex;
  align-items: center;
  background: #121212;
}

.breaking-title {
  background: red;
  padding: 14px 18px;
  font-weight: 700;
}
}
